[2014-11-30 08:44] caesar0301 opened #1 "Requests for new public datasets contributions. (PR preferred)"

[2014-12-03 04:09] 1ternal opened #6 "China Hotel Checkin/out data is NOT avialiable"
the leaked dataset is not available

[2014-12-03 13:03] idooo opened #7 "Foursquare datasets require some additional information"
Foursquare datasets http://www.public.asu.edu/~hgao16/dataset.html are zip archives protected by passwords so you would need to contact the authors and fulfil additional requirements (e.g. email on .edu domain). From the page there: "Due to the privacy issues, the data availability depends on the requester's research background. Please contact Huiji.Gao@asu.edu for more details."

Unfortunately no

[2014-12-04 06:06] hanchao opened #8 "openstreetmap"
http://www.openstreetmap.org/
the project that creates and distributes free geographic data for the world

[2014-12-04 08:25] #8 closed, assigned to nobody

[2014-12-04 15:25] joshholat opened #11 "U.S. Federal Government Data Catalog link is broken"
http://catalog.data.gov/dataset is a page that isn't available

[2014-12-08 13:11] nilemarbarcelos opened #19 "OSU Financial data link is broken"
The following link is not available
OSU Financial data: http://fisher.osu.edu/fin/osudata.htm

[2014-12-09 20:43] #19 closed, assigned to nobody

[2014-12-10 07:23] Hunter-Github opened #20 "Airports locations link broken"
http://www.infochimps.com/datasets/airports-and-their-locations - 404, web.archive.org has no old version of the zip. The link is useless.

[2014-12-10 07:25] Hunter-Github opened #21 "Edge data for US domestic flights 1990 to 2009 broken - all Infochimps datasets look broken from here"
Edge data for US domestic flights 1990 to 2009: http://data.memect.com/?p=229

[2014-12-14 02:34] queirozfcom opened #27 "What about dat-data?"
http://dat-data.com/

It's not strictly a dataset, but folks looking for data will see value in this.

[2014-12-16 11:50] nilemarbarcelos opened #29 "The Koblenz Network Collection link is broken"
The Koblenz Network Collection: http://konect.uni-koblenz.de/

Is this link really broken or is it just a temporary fault?

[2014-12-20 12:09] ghost opened #33 "Please remove the hotel check-in record"
I reckon that it is very disgraceful and inappropriate to put the leaked dataset of Chinese hotels' check in/out records in this public repository.

The dataset may be valuable in science and research but it contains millions of people's true name and their real personal id. To put such information publicly is a huge violation to their privacy.

So please remove the dataset in the awesome list, th

[2014-12-27 10:19] #33 closed, assigned to nobody

[2014-12-27 10:21] #29 closed, assigned to nobody

[2014-12-27 10:21] #11 closed, assigned to nobody

[2014-12-27 10:22] #7 closed, assigned to nobody

[2014-12-27 10:22] #6 closed, assigned to nobody

[2014-12-27 10:22] #20 closed, assigned to nobody

[2014-12-27 10:29] caesar0301 opened #36 "A short intro or description for each data is prefered."
It may be better to append a short, declarative introduction about basic features, organizations, or characteristics to each data.

[2015-01-05 14:53] dreamdog opened #40 "a free image source that can be added"
http://www.freeimages.com

[2015-02-05 02:29] caesar0301 commented on #40
Thanks!

[2015-02-05 02:29] #40 closed

[2015-02-05 02:29] #36 closed

[2015-02-05 02:31] #21 closed

[2015-02-05 02:31] caesar0301 commented on #27
Thanks

[2015-02-05 02:31] #27 closed

[2015-03-14 11:07] dettmering commented on #1
Transcriptions of all debates in the German government as txt files: http://www.bundestag.de/plenarprotokolle

[2015-03-19 20:00] tfmorris commented on #21
This appears to be available as a torrent described here:
http://academictorrents.com/details/a2ccf94bbb4af222bf8e69dad60a68a29f310d9a

[2015-03-20 02:41] caesar0301 commented on #21
Thank you so much!

[2015-04-02 09:58] Kikobeats opened #56 "countries dataset"
I found this repository and can be awesome add it:

https://github.com/mledoze/countries

what do you think? :-)

[2015-04-02 12:02] caesar0301 commented on #56
You are right. This is a great collection. Added!

[2015-04-02 13:42] Kikobeats commented on #56
awesome!

[2015-04-02 13:42] #56 closed

[2015-04-09 21:30] rtbarber commented on #1
U.S. Department of Education:
- IPEDS (higher and postsecondary education): http://nces.ed.gov/ipeds/
- CCD (common core of data - primary/secondary): http://nces.ed.gov/ccd/
- NAEP (nations report card - secondary): http://nces.ed.gov/nationsreportcard/
- and a wide range of studies (using samples and weighting) on topics related to education at all levels, as well as the administration and staff

[2015-04-17 15:55] jonathansantilli opened #59 "Social Sciences -> Titanic Survival Data Set, do not exist anymore"
This is what is says:

Could not access link: /caesar0301/awesome-public-datasets/blob/master/Datasets/titanic.csv.zip This address was removed because it violated our terms and conditions.

[2015-04-18 01:29] caesar0301 commented on #59
There is no problem on my side to access. You can find that data under `Datasets/titanic.csv.zip` of project root. Cheers,

Xiaming

[2015-04-20 07:31] LGInform commented on #1
Hi, would you be able to add LG Inform to your awesume-public-datasets. It holds publically available data about local authorities and fire and rescue services in England - http://lginform.local.gov.uk/search
Thanks Alex

[2015-04-20 08:08] #59 closed

[2015-04-20 08:10] caesar0301 commented on #1
@rtbarber NCES added!
LGInform added!

[2015-04-20 08:20] LGInform commented on #1
Great thanks, have a good day

Kind Regards

Alex

From: Xiaming [mailto:notifications@github.com]
Sent: 20 April 2015 09:10
To: caesar0301/awesome-public-datasets
Cc: Alexandra Marshall
Subject: Re: [awesome-public-datasets] Requests for new public datasets contributions. (#1)

@rtbarber<https://github.com/rtbarber> NCES added!
LGInform added!

—
Reply to this email directly or view it on GitHub<

[2015-04-21 18:13] JEFworks commented on #1
Some additional biology-related public datasets worth considering:

ExAC - http://exac.broadinstitute.org/ (exome sequencing data for 60,706 unrelated individuals, including 1000 genomes)
OMIM - http://www.omim.org/ (database of phenotype-genotype relationships)
dbSNP - http://www.ncbi.nlm.nih.gov/SNP/ (database of phenotype-genotype relationships)
dbGAP - http://www.ncbi.nlm.nih.gov/gap (database

[2015-04-22 14:18] PanArnaud commented on #1
A French flora recognition system :
http://identify.plantnet-project.org/en/

[2015-04-22 14:45] znurgl commented on #1
@PanArnaud Where is the public dataset on this page?

[2015-04-22 15:07] repent opened #73 "Link changed"
The UK Census Open Atlas Project has moved to <http://www.alex-singleton.com/r/2013/02/05/2011-census-open-atlas-project/>

[2015-04-22 15:13] PanArnaud commented on #1
It's a search engine. That may be not appropriate ...
http://identify.plantnet-project.org/en/base/tree

[2015-04-22 15:17] znurgl commented on #1
That's not a dataset. You can't download it as a CSV (for example) or access it via public API.

[2015-04-22 15:24] PanArnaud commented on #1
I understand. Sorry for the inconvenience

[2015-04-22 15:59] caesar0301 commented on #73
Its been fixed! Thanks!

[2015-04-22 15:59] #73 closed

[2015-04-27 16:20] Swadish opened #80 "Link "Titanic Survival Data Set" not working."
The link to the "Titanic Survival Data Set" is not working.

[2015-04-28 01:54] #80 closed

[2015-10-02 10:23] Xaviju commented on #1
Obvious internet stuff: http://thecatapi.com

[2015-10-09 10:29] LauR3y commented on #1
Belgium also has open data: http://data.gov.be/

[2015-10-13 14:35] cookch10 opened #112 "Add new dataset: NCBI MeSH"
MeSH (Medical Subject Headings) is the NLM controlled vocabulary thesaurus used for indexing articles for PubMed.

http://www.ncbi.nlm.nih.gov/mesh

[2015-10-13 15:43] tfmorris commented on #112
I'm not sure that's the web search page is best URL for MeSH since the list is nominally of datasets.  Perhaps the download page: https://www.nlm.nih.gov/mesh/filelist.html
or the home page: https://www.nlm.nih.gov/mesh/

[2015-10-14 01:45] caesar0301 commented on #112
The filelist link looks better! I add to the list manually. Thanks.

[2015-10-14 01:48] #112 closed

[2015-10-16 12:49] cofiem commented on #1
The Macaulay Library: archive of wildlife sounds and videos http://macaulaylibrary.org/

[2015-10-17 02:56] caesar0301 commented on #1
@cofiem It seems that these data are not free?

[2015-10-17 02:59] caesar0301 commented on #1
Partially free for some datasets.

[2015-10-17 03:13] cofiem commented on #1
@caesar0301 Unfortunately yes, you're right, the data are not free nor in a machine readable form as far as I can see :disappointed:

[2015-10-26 12:22] gabriel-almeida commented on #1
I found this collection of datasets of (Context-Aware) Recommender Systems.
http://students.depaul.edu/~yzheng8/DataSets.html

Maybe its a good idea to talk to the author before publish it.

[2015-10-28 01:31] caesar0301 commented on #1
I have reached the author to grant permission. He said Yes. I will merge this cat into list manually.

[2015-11-01 06:32] sb2nov opened #117 "Hacker news dataset"
https://news.ycombinator.com/item?id=10440502

[2015-11-11 21:31] hangtwenty opened #119 "Add link to Data is Plural newsletter, somewhere"
Hey there!

Love this resource.

I think it would be great to add a link to @jsvine's [Data is Plural newsletter](https://tinyletter.com/data-is-plural) [(and archives)](http://tinyletter.com/data-is-plural/archive). It was recently [posted to DataTau](http://www.datatau.com/item?id=10160). But I'm opening an Issue rather than a PR, because I'm not sure where to put it. Maybe you have an idea, @ca

[2015-11-18 15:38] vipints commented on #1
Thanks for the detailed list of many awesome datasets! few missing good data source from biology side:
GTEx _http://www.gtexportal.org/_
ESP(Exome Sequencing Project) _https://esp.gs.washington.edu/drupal/_
ExAC(Exome Aggregation Consortium) _http://exac.broadinstitute.org/_
UK10K _http://www.uk10k.org/_

[2015-11-19 23:53] gramster opened #120 "Meteorites dataset link is stale"
http://www.analyticbridge.com/profiles/blogs/registered-meteorites-that-has-impacted-on-earth-visualized

[2015-11-20 01:20] tfmorris commented on #120
Looks like this is the closest equivalent:

http://healthintelligence.drupalgardens.com/content/registered-meteorites-has-impacted-earth-visualized

[2015-11-21 10:00] #120 closed

[2015-12-08 01:41] smrgit opened #126 "I would love to have our TCGA BigQuery tables listed here!"
for more information, see these IPython notebooks in github:
https://github.com/isb-cgc/examples-Python

and we're also in readthedocs:
http://google-genomics.readthedocs.org/en/latest/use_cases/discover_public_data/isb_cgc_data.html

thanks!

-- Sheila

[2015-12-08 01:58] tfmorris commented on #126
Apparently, in this context, TCGA == The Cancer Genome Atlas project.

The direct link to the BigQuery tables is:

    https://bigquery.cloud.google.com/dataset/isb-cgc:tcga_201510_alpha

but I think it'd be a good idea to link the the original data instead (or
in addition to):

    https://tcga-data.nci.nih.gov/tcga/tcgaDownload.jsp

[2015-12-08 05:16] caesar0301 commented on #126
Thanks guys. I can sense the value of these data, even I am an another-domain guy. I will add both the original link and BQ table to the list.

[2015-12-08 05:24] #126 closed

[2015-12-08 06:34] smrgit commented on #126
Yes, you're exactly, right.  I should have made clear that the original data is open-access, public data (funded by NIH) and that all we've done is curate and transform the data into a set of consistent BigQuery tables that we hope the research community will find more useful.  (oops, I just realized that I had not clicked on the "Comment" button although I typed this several hours ago -- I'm goin

[2015-12-18 18:00] awesome-bot opened #130 "Validate pull requests with Travis"
Hello, I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request.

 It is currently being used by
- https://github.com/vsouza/awesome-ios
- https://github.com/matteocrippa/awesome-swift
- https://github.com/dkhamsing/open-source-ios-apps

Examples
- https://travis-ci.org/matteocrippa/awesome-swift/builds/96526196 ok ✅
- https://tra

[2015-12-21 07:25] bitboxer opened #131 "German train data"
The Deutsche Bahn published lots of interesting Datasets regarding the german train system here:

http://data.deutschebahn.com/datasets/

I would love to add it, but am not sure under what category.

[2015-12-21 10:48] caesar0301 commented on #131
There is a category of `transportation` to contain these data. I don't know German and  most subscribers of this repo are located out of German, so I was trying to find the English version of this site. It seems not there. (I noticed that the site is under its beta and maybe has English version in near future.)

But its OKEY. The data is more precious.  I will add your link and leave this issue op

[2015-12-22 02:08] haichao592 opened #133 "Machine Comprehension Test (MCTest)"
MCTest is a freely available set of 660 stories and associated questions intended for research on the machine comprehension of text.
http://research.microsoft.com/en-us/um/redmond/projects/mctest/

Hope this dataset could be added to awesome-public-datasets. :)

[2015-12-22 02:50] caesar0301 commented on #133
Appended to category NLP. Thanks :+1:

[2015-12-22 02:50] #133 closed

[2015-12-22 04:53] caesar0301 commented on #130
Thanks @awesome-bot ! I also added it to my [anther project pcaptools](https://github.com/caesar0301/awesome-pcaptools).

[2015-12-22 05:24] slyfox75 opened #134 "https://github.com/caesar0301/awesome-public-datasets/blob/master/Datasets/titanic.csv.zip"
To be able to see who is hacking my system

[2015-12-23 13:02] caesar0301 commented on #130
I added some links with issues into the white list. But I found the bot returned inconsistent results when I run travis multiple times. And most are failure. Some links reported as failures are accessible when I check them manually. I donnt know why but am confused.

[2015-12-23 15:09] ipeluffo opened #137 "Separate Governments datasets by country"
Hi everyone,

My proposal is to separate/classify the list of Government datasets by country since there are specific datasets such as countries' cities datasets. Then, the list would be very long and include a mix of countries and cities datasets which can be confusing or hard to understand/read.

For example, we could separate them doing something like:
[code]

Regards,
Ignacio

[2015-12-24 02:46] caesar0301 commented on #137
The government cat is the longest. I propose an alternative option to create a sub-list (in a new file) to contain your separated format. This will make the main list more brief.

[2015-12-24 09:47] caesar0301 commented on #130
Thanks for your checking. I still can not explain my previous observations, maybe resulting from instability of networks of Travis services. I will keep using awesome_bot and feed back  to you if there are any other problems.

I think its better to keep these 404 links in the list, because I am not sure they are removed permanently or temporally. Even more, others may find alternative sources for

[2015-12-24 14:07] #130 closed

[2016-01-25 12:47] ssaamm opened #150 "GetGlue data is inaccessible"
[Link](http://getglue-data.s3.amazonaws.com/getglue_sample.tar.gz)

[2016-01-25 15:07] tfmorris commented on #150
The error is

[code]

I wouldn't do anything immediately in case it comes back, but it may have been taken down for good.

[2016-01-31 00:52] wumpus commented on #1
I see you have the Internet Archive's ArchiveIt! service listed as a search engine, it's really a self-serve web archiver.

Other Internet Archive datasets:
https://openlibrary.org/developers/dumps -- metadata for books

[2016-01-31 12:18] montee88 opened #158 "How can I apply job far driver in canada/ usa"

[2016-01-31 16:17] tfmorris commented on #158
:-1:

[2016-01-31 23:38] danfruehauf commented on #1
Integrated Marine Observing System (IMOS) - roughly 30TB of ocean measurements:
https://imos.aodn.org.au

Or directly the on the S3 bucket:
http://imos-data.s3-website-ap-southeast-2.amazonaws.com/

[2016-02-01 14:25] jpmckinney commented on #137
I recommend just linking to dataportals.org - your list is missing way too many catalogs, and I don't see the point in maintaining yet another list of open government data catalogs.

[2016-02-01 14:26] jpmckinney commented on #137
For example, I know there are over 60 catalogs in Canada. The current list had about 20...

[2016-02-01 17:36] zippeurfou commented on #1
There is a nice [quora](https://www.quora.com/Where-can-I-find-large-datasets-open-to-the-public) topic about it where you could find other sources as well.

[2016-02-01 21:53] EvanRobertsNZ opened #169 "Add Minnesota Population Center census and survey resources"
www.ipums.org

Easier access to census data than US Census bureau.

[2016-02-01 23:36] The-Penultimate-Defenestrator commented on #158
:-1:

[2016-02-01 23:37] The-Penultimate-Defenestrator commented on #150
This is still an issue, a week later.

[2016-02-03 18:43] scriptin commented on #1
Hi there! I have a data about Japanese [kanji usage frequency](https://github.com/scriptin/kanji-frequency), also available as a [user-friendly page](http://scriptin.github.io/kanji-frequency/). Does it satisfy the requirements?

[2016-02-04 11:58] fenollp opened #181 "missing opencontext datasets"
https://github.com/ekansa/Open-Context-Data

Don't miss `github.com/ekansa/opencontext-*`!

The guy put so much data there, GitHub excluded him in https://github.com/robots.txt

[2016-02-04 12:01] nodanaonlyzuul commented on #158
:+1: :+1: :+1:

[2016-02-05 01:06] nalasbali opened #182 "Open Source to modernize Computer Science #OS4CS"
Hi,

My PhD survey will take few minutes but will be of great value to my research as i need direct evidences from Open Source users like you, PLEASE, to do my research.

I hope you will be happy to participate by clicking on the related link to take the suitable survey & feel free to answer any number of questions (will be much help if you can answer all):

- Here you are the link to the student'

[2016-02-05 04:29] tfmorris commented on #182
Your review board (humanethics@unsw.edu.au) approves of you using "research" as a pretext for spamming?  How sad for UNSW!

:-1:

Or am I mistaken and you have an awesome public dataset to contribute...

[2016-02-05 06:53] nalasbali commented on #182
Thank you for your comment.
I am not using my "research" as a pretext for spamming.
I am inviting awesome public datasets' contributors to take part in my research if they happy to, which is about using open source (like GitHub) to modernize Computer Science education, as this is my target participants in my PhD research.

Kind regards,
Nada

[2016-02-10 10:28] amitbend commented on #158
Try to eat alot of hot pepper

[2016-02-11 20:28] sitsofe commented on #1
[Storage block traces](http://iotta.snia.org/tracetypes/3) (OSI licensed).

[2016-02-13 17:17] caesar0301 commented on #1
@wumpus Thanks for ur suggestion. The archives may fit the PublicDomains category. The OL Dump also added.

[2016-02-13 17:25] caesar0301 commented on #1
@ danfruehauf  IMOS added! :+1:

[2016-02-22 17:14] wlla opened #205 "NYPL Public Domain Data set"
Repo of interest for the Public Domain section: https://github.com/NYPL-publicdomain/data-and-utilities

A snapshot of Item and Collection data for the more than 180,000 public domain materials in NYPL Digital Collections, as part of NYPL's January 2016 public domain release: http://publicdomain.nypl.org/

[2016-02-25 13:42] jpmckinney commented on #137
Instead of dataportals.org, I recommend simply linking to https://www.opendatasoft.com/a-comprehensive-list-of-all-open-data-portals-around-the-world/ They have 1,600 open data portals.

[2016-03-05 10:54] alison985 opened #211 "iPython Notebook Datasets from iPython Cookbook"
https://github.com/ipython-books/cookbook-data

Datasets used in the IPython Cookbook, the definitive guide to high-performance scientific computing and data science in Python http://ipython-books.github.io/cookbook/

[2016-03-05 10:56] alison985 opened #212 "world.db"
http://openmundi.github.io/

[2016-03-29 10:11] thomasbrand commented on #1
Hello,

An international economic database is being build here : http://widukind.cepremap.org/ and all the source code (with python, R client) is available here : https://github.com/Widukind.

Thanks!

[2016-03-31 16:08] certifiedloud commented on #1
Aviation weather data: https://aviationweather.gov/adds/dataserver

[2016-05-02 01:17] impressivewebs opened #220 "MLB's full game data"
Not sure what the criteria are for submitting new stuff, but maybe you'd like to add MLB's game data:

http://gd2.mlb.com/components/

It's basically a bunch of XML and JSON files.

[2016-05-10 15:31] xros commented on #220
This is awesome

[2016-05-11 21:23] nitrocalcite opened #221 "AEA has a broken link"
[This](https://www.aeaweb.org/RFE/toc.php?show=complete) is the current link, which returns a 404 not found page.

My guess is that [this](https://www.aeaweb.org/resources/data) is the correct link?

[2016-05-25 21:46] yegeniy commented on #220
Is this awesome?

Only individual, non-commercial, non-bulk use of the Materials is permitted and any other use of the Materials is prohibited without prior written authorization from MLBAM.
Authorized users of the Materials are prohibited from using the Materials in any commercial manner other than as expressly authorized by MLBAM.
-- http://gd2.mlb.com/components/copyright.txt

[2016-05-31 15:54] impressivewebs commented on #220
@yegeniy No, but it's better than not having access to the data at all. In other words, it's better than nothing. I don't know of any other major sports organizations that make their data as available as this, TBH.

[2016-06-21 07:18] aagm opened #228 "Ancient World Mapping Center (AWMC) Data in GeoJSON"
Data on aqueducts, roads, regional names, and other human-made structures, coastlines, inland water, river lines, and other similar features.

https://github.com/AWMC/geodata

[2016-07-04 15:20] arademaker opened #232 "NLP"
http://universaldependencies.org

[2016-07-05 07:06] embatbr commented on #232
Why don't you send a PR?

[2016-07-05 08:36] arademaker commented on #232
done https://github.com/caesar0301/awesome-public-datasets/pull/233

[2016-07-06 17:53] Aleyasen opened #234 "Bank customer transactions"
I am wondering is there any public bank customers (anonymized) transaction data?

[2016-07-07 12:54] aqibsaeed commented on #234
I am also looking for one, related to fake complaints  about ATM transactions.

[2016-07-08 01:43] Aleyasen commented on #234
There is a dataset, it's real transaction but it doesn't have any label for fraud detection. It is Berka dataset available as part of PKDD'99 Discovery Challenge.
It is real anonymized data from Czech bank.
http://sorry.vse.cz/~berka/challenge/pkdd1999/data_berka.zip
Data description: http://lisp.vse.cz/pkdd99/berka.htm

[2016-07-08 20:52] aqibsaeed commented on #234
Awesome man! Thanks alot

[2016-07-26 18:52] alephmelo opened #238 "Netflix dataset is not available anymore"
![screenshot 2016-07-26 15 52 15](https://cloud.githubusercontent.com/assets/6146240/17151157/f5a2d842-5348-11e6-9ee1-99398f57e8ac.png)

[2016-07-27 05:06] tfmorris commented on #238
It would be great if you included the URL that generated the error and where you found it.

This URL appears to work: http://netflixprize.com/leaderboard.html

Perhaps it's just a CloudFront configuration issue...

[2016-07-27 20:10] alephmelo commented on #238
It was this URL: http://netflixprize.com/leaderboard.html

Yeah, it can be just CloudFront issue.

[2016-07-27 20:13] alephmelo commented on #238
I see the problem now.

In the repo the url is: http://netflixprize.com/leaderboard
It's missing the `.html` and the `www` also needs to be removed.

[2016-08-09 14:32] mexindian commented on #1
Is this project still alive?
Two big ones:
* Global water resources and uses: [AQUASTAT](http://www.fao.org/nr/water/aquastat/data/query/index.html?lang=en)
* Agriculture everything: [FAOSTAT](http://faostat3.fao.org/home/E)

[2016-08-15 06:06] caesar0301 commented on #1
Added!

[2016-09-21 10:52] jokruger opened #242 "add a link"
https://www.jc-bingo.com/about
Datasets: web directory visitor interests (can be used in predictive modeling), user agents, and bot ip addresses and user-agent strings.

[2016-10-01 21:57] grrttedwards opened #243 "International Trade Statistics link broken"
http://www.econostatistics.co.za/

This link is listed under Economics > International Trade Statistics.

The website appears to be up, but it brings you to a page indicating they are having some problems. It is probably dead.

[2016-10-30 06:42] A-n-d-r-e-y opened #249 "Statistical data about Republic of Latvia (Governmental Central Statistical Bureau)"
http://www.csb.gov.lv/en

[2016-10-30 06:46] A-n-d-r-e-y opened #250 "Public Domains->Datamob.org link is broken (404 Not Found)"
![image](https://cloud.githubusercontent.com/assets/1206629/19834922/4ecb5e06-9e7d-11e6-917c-41c74017cdc3.png)

[2016-11-01 17:24] jayvdb commented on #250
The datasets part of the website can be seen [on archive.org](https://web.archive.org/web/20150415025156/http://datamob.org/datasets), and appears to have been only a directory of other sites.  Perhaps the archive can be mined and the datasets added to this awesome list?

[2016-11-01 17:26] jayvdb commented on #250
Or @seanflannagan / @laurensperber can provide a data dump to make the task a little easier?

[2016-11-01 18:18] seanflannagan commented on #250
@jayvdb Sure, let me see what we can dig up.

[2016-11-07 22:59] seanflannagan commented on #250
@jayvdb Unfortunately the olde data from Datamob is lost and unrecoverable. I'll see what I can contribute to this awesome list in any case, and I added a link to this list on the page.

[2016-11-11 15:34] ssaamm commented on #150
Still an issue :(

[2016-11-11 19:14] vanvictorlim opened #253 "Machine Learning->"Registered Meteorites on Earth" link is broken (404 Not Found)"
Link on line 317 of README.rst is broken.

![404](https://cloud.githubusercontent.com/assets/10993932/20227153/096cfbc2-a886-11e6-8062-2785315f1b0c.png)

[2016-11-11 19:34] tfmorris commented on #150
At this point I'd assume it's gone for good and should be removed from the listings.

[2016-11-11 19:43] tfmorris commented on #253
Looks like that link is now http://publichealthintelligence.org/content/registered-meteorites-has-impacted-earth-visualized but the data actually comes from http://www.lpi.usra.edu/meteor/metbull.php

[2016-11-12 06:31] vanvictorlim commented on #253
Last time I've checked, I got a 404. But now [link](http://publichealthintelligence.org/content/registered-meteorites-has-impacted-earth-visualized) seems to be working. I might just close this issue, or rather request for the [original source](http://www.lpi.usra.edu/meteor/metbull.php) of the data to be used as what @tfmorris have said.

[2016-11-12 16:27] tfmorris opened #257 "Disable Travis CI"
Currently Travis CI errors on every build because the config file is commented out and there's not Rakefile for the default build strategy. Either the URL checker should be reenabled or Travis CI should be disabled entirely so that it's not attempting futile builds.

[2016-11-19 05:24] #253 closed

[2016-12-18 15:35] caesar0301 opened #261 "GetGlue from aws not available now? Any replacement?"
GetGlue - users rating TV shows http://getglue-data.s3.amazonaws.com/getglue_sample.tar.gz

[2016-12-18 15:36] caesar0301 opened #262 "We need a method to archive data that would possibly disappear in future"

[2016-12-18 15:42] caesar0301 commented on #261
Dup. #150

[2016-12-18 15:42] #261 closed

[2016-12-18 21:55] embatbr commented on #262
Amazon S3? What about the licenses?

[2016-12-19 01:58] caesar0301 commented on #262
We shouldn't cover those API-accessing data. One rule: data that could be fully downloaded directly, such as in .tar.gz, .zip formats. Original license should be attached and DMC requests are also accepted to remove data from public source.

[2017-01-14 14:05] pgensler commented on #262
Have you thought about using something like https://data.world?? I know there are other platforms similar to it, but something to think about.

[2017-02-02 15:35] murrayLuke opened #276 "Context Aware Data Set link is broken"
The following link is broken. [Context-aware data sets from five domains](http://students.depaul.edu/~yzheng8/DataSets.html#Data)

It can be found in this [section](https://github.com/caesar0301/awesome-public-datasets#contextual-data)

[2017-02-02 16:17] murrayLuke opened #277 "Earth Science marine data of ~22k vars has moved"
The following broken link is found in the [Earth Science](https://github.com/caesar0301/awesome-public-datasets#earth-science) section

The current link for BODC - marine data of ~22K vars has moved from http://www.bodc.ac.uk/data/where_to_find_data/ to https://www.bodc.ac.uk/data/

[2017-02-03 15:38] gmadevs opened #278 "Tennis database from Jeff Sackmann"
This github repo contains tennis datasets for various years

https://github.com/JeffSackmann

[2017-02-04 05:25] caesar0301 commented on #277
Thanks you so much!

[2017-02-05 09:01] gmadevs opened #279 "data.world"
This could be added as a data resource https://data.world

[2017-02-06 11:13] davewhiteland opened #280 "new source: EveryPolitician.org data on politicians in 230+ nations' legislatures"
Presumably under "Government"?

http://everypolitician.org/ -- ongoing project collating and sharing data on every politician.

Currently focussed on national-level legislatures; constantly being updated.

Includes historic data and superuseful mappings to other datasets too (e.g., wikidata, official/unofficial sources where available, etc.).

[2017-02-06 16:53] #277 closed

[2017-02-06 16:53] #276 closed

[2017-02-13 03:27] caesar0301 commented on #280
Thanks buddy. This should sit on the priority item of Government list. But I see it is still growing. Expect to be mature in near future. Added!

[2017-02-13 03:27] #280 closed

[2017-02-13 03:34] caesar0301 commented on #279
Thanks for your contribution :)

[2017-02-13 03:34] #279 closed

[2017-02-13 03:47] #278 closed

[2017-03-03 01:27] act65 opened #287 "more datasets"
not sure if some of these are already on the list

https://aws.amazon.com/datasets/
https://cloud.google.com/bigquery/public-data/#public-datasets-hosted-by-bigquery

[2017-03-19 09:09] ustcjerry opened #291 "X-ray images dataset: GDXray."
GDXray:  X-ray images for X-ray testing and Computer Vision

http://dmery.ing.puc.cl/index.php/material/gdxray/

[2017-04-07 08:47] #291 closed

[2017-04-07 09:02] #257 closed

[2017-04-07 09:02] caesar0301 commented on #287
Yes, they are.

[2017-04-07 09:02] #287 closed

[2017-07-13 05:10] tfmorris commented on #250
This can be closed now that #305 is merged.

[2017-07-17 18:49] DavidIsrawi opened #307 "Typo under Natural Language Section"
First item: Automatic Keyphrase Extracttion
Should be: Automatic Keyphrase Extraction

[2017-07-19 15:22] varennes opened #308 "The Cancer Genome Atlas project (TCGA) link broken"
The link for TCGA (under the Healthcare header) is broken.

From the NIH TCGA Portal:

The TCGA data is now part of the Genomic Data Commons (GDC). Here is the link to the GDC:
https://gdc.cancer.gov/

[2017-08-06 17:14] scubachristophe opened #309 "TfL - London Data Link update"
The open data link for TfL is broken, it needs to be updated to: https://tfl.gov.uk/info-for/open-data-users/our-open-data

This reflects their new unified API.

[2017-08-10 02:41] caesar0301 commented on #309
False alert? It is already there.

[2017-08-10 02:54] #308 closed

[2017-08-10 02:55] #307 closed

[2017-08-10 03:11] #250 closed

[2017-08-11 23:26] #309 closed

[2017-08-25 13:59] M4urice commented on #262
One could also consider http://academictorrents.com or https://archive.org.

[2017-08-25 14:02] M4urice opened #314 "Additions for Search Engines"
http://www.re3data.org/

[2017-08-26 11:47] sentientmachine opened #315 "Broken Link, find alternative."
This link is broken, please update:

https://www.vision.caltech.edu/Image_Datasets/CaltechPedestrians/

The reason it is broken is because you are forcing HTTPS from a site that doesn't support it anymore.  Use this:  http://www.vision.caltech.edu/Image_Datasets/CaltechPedestrians/

Or more generally:

Suggestion: http://www.vision.caltech.edu/archive.html

[2017-08-26 12:39] mfaheemakhtar commented on #315
Fixed the broken link. Pull request #316

[2017-08-30 09:53] mcapelle commented on #234
It seems, a password is needed to decryt the data.
Does one of you has (still) the decrypted data or the password?

[2017-09-27 15:38] abitofalchemy opened #319 "Any insight into the largest dataset of interactions (Graph like)"
My question is: do you have an idea where to look for the largest interactions dataset? where the dataset can be examined as a graph (or network)? ... just curious

[2017-09-27 16:14] caesar0301 commented on #319
Basically, a graph or network can be created with some entities (as graph nodes) and connections between entities (as link between nodes). With this principle, a large portion of data could be converted into a graph, like social graph, human mobility in mobile network, product and buyer, transport network, and many....

How do you interpret  "the largest"?

[2017-09-27 17:10] abitofalchemy commented on #319
yes, you are right. By largest, I mean hundreds of billion of nodes/edges.
I was curious if this kind data is available. But, like you said one
probably has to transform these data into edgelist or something like that.
Thanks.

On Wed, Sep 27, 2017 at 12:16 PM, Xiaming Chen <notifications@github.com>
wrote:

[2017-10-17 08:10] giuseppec opened #322 "Add OpenML to awesome-public-datasets ?"
We are a group of researchers working on an open data and open machine learning plattform OpenML.org which already has ~20.000 datasets for which you can filter for specific properties on https://www.openml.org/search?type=data. Besides of running algorithms to the datasets, you can download (and upload) the datasets through the WEB (or through an [REST API](https://www.openml.org/guide/api)) as a

[2017-10-28 05:54] mfaheemakhtar commented on #262
Maybe you can use Torrent - distributed and decentralized.

[2017-10-31 23:22] kchristidis opened #331 "Fix Dataport URL"
New URL is: https://dataport.cloud/

[2017-11-01 05:39] tfmorris commented on #331
Ugh! No redirect from the old URL?

More importantly, it appears that this is no longer a public dataset, if it ever was, since it's behind a subscription wall. They offer a 30-day trial and "academic" access, but it's definitely not a public dataset.

Probably best to just delete it.

[2017-11-10 09:51] CharlesGaydon opened #333 "Dataset not in public domain"
Hi ! Thanks for this list.
It seems to me that the dataset "[Marine Traffic - ship tracks, port calls and more](http://www.marinetraffic.com/de/ais-api-services)" (category Transportation) is not in the public domain. Instead, the use of the API requires you to buy some "Credits" ; it is quite expensive...

[2017-11-10 22:26] tfmorris commented on #333
I agree. It was added by @redaktor almost 3 years ago. I'm not sure if it was ever free, but it definitely isn't now. Also, it's an API, not a dataset.

[2017-11-22 10:01] slothkong opened #338 "Insight on choosing appropriate data set characteristics."
The standard thing to do when training DNNs is to get as much data as possible. However,  that is not always possible. Sometimes the data set may have few samples of one particular class, or in overall few examples per class. Also, if we want to categorize things that look alike, say variations of grass haha, then I suppose this will have a big impact in the final accuracy, even if we use state-of

[2017-11-26 11:05] #331 closed

[2017-11-26 11:13] #333 closed

[2017-12-08 11:32] dvolgyes commented on #315
If it is fixed, maybe this issue could be closed?

[2017-12-08 23:17] #315 closed

[2017-12-11 09:48] karansaxena opened #341 "Looking for Timestamped Text Datasets"
Hi All,
I am trying to study how (English) language has evolved over time, and I am looking for some timestamped text data for the same.
I know of the [Annotated English Gigaword](https://catalog.ldc.upenn.edu/ldc2012t21) but I am looking for something which spans more time period. I don't necessarily need a lot of text for each time-stamp - a line or two for each time-stamp would suffice.

Can so

[2017-12-20 22:41] notzoom opened #343 "How Do We Submit New Datasets ?"

[2017-12-20 23:09] tfmorris commented on #343
Create an issue suggesting it (like #322) or, preferably create a Pull Request with the change implemented (like #342)

[2018-01-15 09:03] caesar0301 commented on #343
We have change the organization of APD and take a plan to extend this project for a general purpose. The original PR entrance (as above addressed by @tfmorris ) is closed forever.

You can use the new one https://github.com/awesomedata/apd2/wiki/HOW_TO_CONTRIBUTE-%E5%A6%82%E4%BD%95%E8%B4%A1%E7%8C%AE

[2018-01-15 09:07] caesar0301 commented on #343
The pending PRs will be merged by me manually.

[2018-01-18 16:41] AndresUrregoAngel opened #351 "Description Dataset fields in titanic"
Hello, thanks so much for your job posting free amazing data sets. I would like to know if can I get the definition of the field Embarked in the titanic data set. the values are moved between S,C and Q.

thanks so much

[2018-01-19 02:57] caesar0301 commented on #351
survival - Survival (0 = No; 1 = Yes)
class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
name - Name
sex - Sex
age - Age
sibsp - Number of Siblings/Spouses Aboard
parch - Number of Parents/Children Aboard
ticket - Ticket Number
fare - Passenger Fare
cabin - Cabin
embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat - Lifeboat (if survived)
body - Body number (if di

[2018-02-06 11:27] ElieArron1 commented on #234
Hello,

I have anonymized data of 100 000+ customers of a well-known bank (2016-2017).
The data includes:
  - transaction date
  - MCC Code
  - transaction type
  - transaction amount
  - account balance
  - account type
  - card type (debit, credit)
  - anonymized customer ID

The data doesn't display any personal information on customers.
It's only useful for modelling purposes.

[2018-02-06 11:49] Aleyasen commented on #234
@elieArron1
That's great. Can you share the dataset?

[2018-02-06 12:01] aqibsaeed commented on #234
@ElieArron1
Would you also highlight, what kind of modelling purpose it is useful for? Are there any annotations for fake transaction etc? What does MCC code represents?

[2018-02-06 12:07] harrycheese commented on #234
@aqibsaeed

Mcc means merchant category code. Each code represents a category viz. Automobile, restaurant, convinience store etc. Depending on bank to bank / transaction processor the category varies

[2018-02-06 12:09] RJDavie commented on #234
Thanks @harrycheese I wish everyone would use SIC codes though, they are standard pretty much across the world. #datawoes!

[2018-02-06 12:16] harrycheese commented on #234
Credit card and debit card companies have been using it since ages. It's
built in their legacy systems. Changes to it means cost :)

Anywhoo.. @ElieArron1 can u share this data, will be useful to mine it.
Also which country's bank is it and is it a huge bank or mid size bank or
small bank.

On 06-Feb-2018 5:40 PM, "Rob Davie" <notifications@github.com> wrote:

Thanks @harrycheese <https://github.c

[2018-02-06 12:49] ElieArron1 commented on #234
@Aleyasen  @harrycheese I can send you a sample of say 10 customers. I want to monetize the entire dataset...

[2018-02-06 13:10] ElieArron1 commented on #234
@aqibsaeed @harrycheese @RJDavie
Actually there are 2 datasets (1) and (2) of historical data of the same customers:

  - (1) every transaction (payments, salary, wire transfer, credit card, debit card etc)
Fields: amount, category (SIC), transaction type, anonymized id, account balance, transaction description, timestamp and other internal information (documentation available), amount, number of

[2018-02-06 18:50] mcapelle commented on #234
@ElieArron1 I would interested for a 10 customers sample of the (1) dataset to evaluate it.
How can you send it to me?
Thanks.

[2018-02-07 09:06] ElieArron1 commented on #234
@mcapelle
I can send it to you using email. Here's mine eliearron outlook.com

[2018-02-18 11:03] spearshaker commented on #234
@ElieArron1

Can I also get a copy of the dataset?

Thanks!

[2018-02-21 16:51] BarriKrishna commented on #234
@ElieArron1  Could you please provide that dataset?

[2018-02-22 18:25] ayushsingh244617 commented on #234
can i get the dataset too?

[2018-02-27 09:41] iamtodor commented on #343
@caesar0301, for now, this repo is pending 35 more pull requests. Will it be merged?

[2018-02-27 10:27] yonidahan commented on #234
@mcapelle @spearshaker @BarriKrishna @ayushsingh244617

Can you propose interesting use cases ?

[2018-02-27 11:25] ElieArron1 commented on #234
First, tell me what you gonna do with it?

2018-02-22 19:25 GMT+01:00 Ayush singh <notifications@github.com>:

[2018-02-27 11:25] ElieArron1 commented on #234
First, tell me what you gonna do with it?

2018-02-21 17:53 GMT+01:00 BarriKrishna <notifications@github.com>:

[2018-02-27 11:25] ElieArron1 commented on #234
First, tell me what you gonna do with it?

2018-02-18 12:04 GMT+01:00 spearshaker <notifications@github.com>:

[2018-02-27 11:28] BarriKrishna commented on #234
@ElieArron1, want to do some machine learning on the transactions done by user and will predict the expenses in different categories.

[2018-02-27 12:40] ElieArron1 commented on #234
@BarriKrishna
What's your email?

[2018-02-27 12:51] BarriKrishna commented on #234
@ElieArron1
krishna.barri1995@gmail.com

[2018-02-27 14:43] ElieArron1 commented on #234
@BarriKrishna
Sent

[2018-02-27 15:01] qinbill commented on #234
@ElieArron1
qinbill@gmail.com
I am work on graph pattern mining in financial applications. Could you share me the data?

[2018-02-28 09:54] LPalazzo commented on #234
@ElieArron1 can I also get a copy of it? I would like to use generalized linear methods in a time series framework to model transactions over time

[2018-02-28 13:58] ayushsingh244617 commented on #234
I need it for educational purpose.im trying to study the auditing system in
banks and for that I need a data set

On Feb 28, 2018 3:25 PM, "L" <notifications@github.com> wrote:

[2018-02-28 15:16] ctacampado commented on #234
@ElieArron1 would also like to have a copy of your dataset to do prediction and classification for a prototype of a financial application. ct.acampado@gmail.com

[2018-02-28 15:31] ElieArron1 commented on #234
@LPalazzo @ayushsingh244617

Give me your emails we can discuss it

[2018-02-28 16:31] silverstone1903 commented on #234
Hey @ElieArron1 could you send me an e-mail please?

beerasmus@hotmail.com

Thanks.

[2018-02-28 16:45] leonardosapiras commented on #234
@ElieArron1

Hi, I am doing some academic researches in the university where I teach. Could you share this dataset with sapiras@faccat.br ?

Thanks!

[2018-03-03 16:00] ayushsingh244617 commented on #234
This is my email

On Feb 28, 2018 9:04 PM, "ElieArron1" <notifications@github.com> wrote:

[2018-03-05 14:51] beconstant commented on #234
@ElieArron1
Hi! I am starting a research on user behaviour modeling and graph-based approaches for finding customers with similar transaction patterns. Having real-life data would be good to play around and tune methods. Could you share your dataset with me too?
My email is
const.belev@gmail.com

[2018-03-06 10:13] LPalazzo commented on #234
@ElieArron1 luc.palazzo@gmail.com

[2018-03-06 19:32] hyrahul commented on #234
Hey, I don't have any kind of dataset that you are looking for why don't
you google it about that !!!

Thanks

On Tue, Mar 6, 2018 at 3:44 PM, L <notifications@github.com> wrote:

[2018-03-09 10:53] aayush209 commented on #234
@ElieArron1 Can you share the dataset with me , I need it for fraud detection using vizualisation . Email - aayushgupta1124@gmail.com

[2018-03-10 06:33] ayushsingh244617 commented on #234
My email Id is ayushsingh244617@gmail.com

On Wed, Feb 28, 2018, 9:04 PM ElieArron1 <notifications@github.com> wrote:

[2018-03-10 20:11] Sergionethechamp commented on #234
Hello @ElieArron1
I would love to have access to the dataset as well
Conducting research and building model on spending patterns and credit relations
My email is sergione.moronetti@gmail.com
Happy to exchange in PM
Thx!

[2018-03-14 01:14] csywchen commented on #234
Hi @ElieArron1, I am conducting some research work on anomaly detection over customer transactions.  Would you please share the dataset with me? My email is csywchen@gmail.com. Thanks a lot!

[2018-03-16 15:20] mcapelle commented on #234
@ElieArron1 Hi, I would like to study expenses patterns thanks to that dataset.
Can you send it to maxime.capelle@gmail.com?

Thanks.

[2018-03-16 15:28] alexjslessor commented on #234
Hello I am trying to build fraud detection models using RNN's in tensorflow
could I have it as well please? You can send it to alexjslessor@gmail.com

On Fri, Mar 16, 2018, 11:21 AM Maxime Capelle <notifications@github.com>
wrote:

[2018-03-18 19:57] theclanks commented on #234
Hi @ElieArron1,
 I am starting a research on debt collector scores, could you share your dataset with me too?
My email is otte@usp.br

Thanks.

[2018-03-22 14:30] Frank-Tsai commented on #234
HI @ElieArron1
I'm currently working on research about churn prediction, could you please share a copy with me?
Here's my email
stu8978@gmail.com

Thanks a lot

[2018-03-22 23:36] matheusalagia commented on #234
Hi @ElieArron1
I would love to have access to the dataset as well
Conducting research and building model on spending patterns and credit relations
My email is matheusalagia@gmail.com

Thanks a lot!

[2018-03-24 20:40] AlexWorldD commented on #234
Hi, @ElieArron1
One of my current project is Bank's client classification and It'll be great if you can share your dataset with me for sandboxes modeling. And yep, MCC codes looks quite perspective in my view for that purpose. Thx

[2018-03-27 18:07] StephanieJ10 commented on #234
Hi, @ElieArron1
I was hoping I could also get access to the dataset. I'm trying to build a model on spending habits
My email is mills.stephanie.j@gmail.com

Thanks :)

[2018-03-28 08:09] rjohn46 commented on #234
Hi @ElieArron1 , would you mind sharing with me? I'm working on some spending behavior modeling. My email is richard@vinuio.com

Thanks very much!

[2018-03-28 12:08] Qiukulin commented on #234
Hi @ElieArron1 , could you please share the with me as well? I'm a uni student and I'm designing a model for spending habits and future liquidity requirement. My email is mangaka2023@gmail.com. Please get in touch if you have any other concern. Thank you so much in advance!

[2018-03-31 15:17] EdoardoPaluan commented on #234
Hi @ElieArron1 , It would be great if you could share the dataset with me as well, I am looking to create a classifier for financial transactions and mapping the dataset you have with the MCC reference codes I have would be very useful! My email is: edoardo.paluan@hotmail.com. Thank you so much!

[2018-04-17 03:24] AveryChan commented on #234
@ElieArron1 Hi, could you please send your dataset to averychanyt@gmail.com? We are conducting data mining project for insights and practical solutions. Thank you!

[2018-04-26 00:13] shlomioved1234 commented on #234
@ElieArron1 Hi, can you please send me your dataset? My email is shlomioved123@gmail.com. I am need of such data for educational reasons. I'm trying to study different banking transactions.

[2018-04-30 20:03] albinotonnina opened #361 "I made a tool: mmarkdown"
# Hello!
I made this little javascript tool recently:

https://github.com/albinotonnina/mmarkdown

<img src="https://user-images.githubusercontent.com/37283/39442518-6670e04a-4ca9-11e8-8a91-22c9ff73e100.png" width="128" />

What it does is so simple that I will just paste here the description of the project:

It could be useful for big projects like this one, that rely almost entirely on markdown

[2018-05-05 16:42] khashishin commented on #234
@ElieArron1 I would very grateful for this dataset. I'm currently trying to pursue my PhD connected with fraud detection and the use of behavioral profiling for lowering the fraud probabilities and banking transaction datasets would help me alot.

If you would share the dataset in the name of science improvement, I can't really express how grateful I would be.

[2018-05-09 08:02] blu3nx commented on #234
hi @ElieArron1 I would be glad if you share with me too. I will use it in msd project about clustering similar entities on banking. (behaviorial similarity).  blu3nx@hotmail.com thanks

[2018-05-12 07:52] danntapl commented on #234
Hi @ElieArron1 , could you please send me your dataset? My email is danntapl@gmail.com. I'm trying to classify transactions. Thanks a lot

[2018-05-15 07:47] Imbasa-Solutions commented on #234
Hi @ElieArron1, please can you also send me the dataset, I would like to perform some exploratory date analysis on it for academic purposes. Much appreciated. mathematicsnine@gmail.com

[2018-05-15 08:12] mic0331 commented on #234
Hello @ElieArron1, could you please also share this dataset with me - purpose is data exploration and machine learning - my email is mic0331 AT gmail DOT com - thanks very much

[2018-05-17 22:17] troydo42 commented on #234
Hello @ElieArron1 , could i get a copy of the dataset as well? We are working on a risk assessment model for business loan/ investment using bank transaction data, credit scrore and financial statements. my email is troy@topflightapps.com

[2018-05-27 03:15] rkritika1508 opened #362 "Update the link"
Under the education section, there is link to student data from FreeCodeCamp. But the provided link does not lead us to the dataset. Please update the link.

[2018-05-28 07:32] sayyamshah commented on #234
@ElieArron1 can i get the data set i need it for my college project, please can you mail it to me @
coolsamm007@gmail.com

[2018-05-29 06:42] #338 closed

[2018-05-30 08:52] amirmoghadam93 commented on #234
Dear @ElieArron1 ,
I'm working on my Master's thesis statement on the application of data mining for detection of money laundering suspicious cases.
I was wondering if you could send me your dataset.
My email: amir.moghadam@ut.ac.ir

[2018-06-01 09:38] naremanalazem commented on #234
Hi @ElieArron1,
I am starting a research one detection of money laundering in banks .., could you share your dataset with me too?
My email is  teacherit1992@gmail.con

Thanks.

[2018-06-01 09:51] saravanan-thirumuruganathan commented on #234
Has any one gotten the data from @ElieArron1 ? I requested quite some time back and didnt receive any. If most of us have not received anything, we should probably stop asking!

[2018-06-08 11:41] gopalkalpande commented on #234
I want to simulate the bank transaction for investment and deposits of customers.
plz share the data set. email id : gopalkalpande@gmail.com

[2018-06-12 08:54] danntapl commented on #234
Long time ago I asked @ElieArron1 and other from this link about the data, but I did not get answer.Maybe they are not following this section now, but if someone could share it , It would be greit. Regards!!!

[2018-06-14 12:46] panchicore opened #365 ""https://www.trackingterrorism.org/" is not a paid dataset"
nothing is public in here, you should pay to get some stuff.
https://www.trackingterrorism.org/

[2018-06-20 09:36] ElieArron1 commented on #234
Hi everyone, we are actually not following this section anymore.
For those who are interested in our data, feel free to ask us some samples and information.

[2018-06-22 07:42] ElieArron1 commented on #234
Feel free to ask us samples and information about the datasets.

[2018-06-23 05:52] ayushsingh244617 commented on #234
@ElieArron1  can I get the dataset. my email id is ayushsingh244617@gmail.com

[2018-06-23 06:18] danntapl commented on #234
Thanks @ElieArron1  for your answer,I just wanna confirm if the email that I got is yours : jonathan@predise.com , and as you mentioned in the email how much could it cost to get access to the data set?

[2018-06-26 00:13] hoasiru commented on #234
@ElieArron1 Can you send dataset to me. My email is hassanoasiru@gmail.com. Need dataset to build Bayesian network to enhance user experience

[2018-06-26 09:56] d0naId commented on #234
@EllieArron1
Good day!
Can you share this dataset with me too?
I need ones for practic time sceries prediction.
And for try do clustering analisis with real data.

[2018-06-26 15:49] smtl commented on #234
@ElieArron1 do you have a contact email?

[2018-06-27 09:56] ElieArron1 commented on #234
@smtl sure, it's eliearron1@gmail.com

[2018-06-27 10:01] ElieArron1 commented on #234
@danntapl This is my colleague's e-mail. You can ask him any information.
Anyway, we are more interested in partnering with people who bring good ideas, relevant use cases than selling data as is.

[2018-06-27 10:07] ElieArron1 commented on #234
Hi @hoasiru, how would use the data to build a system that enhances user experience, knowing that you have no information about user's behavior instead of their transactions ?

[2018-06-27 11:44] hoasiru commented on #234
@ElieArron1 The idea is to categories the unstructured description field to something more meaning for the customers

[2018-06-27 11:54] ElieArron1 commented on #234
#hoasiru Can you provide an example ?

[2018-06-27 12:14] hoasiru commented on #234
@ElieArron1

date | description | category
25062018 | Aldi #005  | Grocery
25062018 | TFL OYST PHOTOCARD | Travel
26062018 | DD Membership - CoutureGYM | Fitness

You get the idea?

[2018-06-28 07:37] naremanalazem commented on #234
@ElieArron1
I am a Master student
I do research to detect money laundering in banks ... can you send me the data ؟
teacherit1992@gmail.com

[2018-06-28 07:38] ElieArron1 commented on #234
@hoasiru But what kind of information would you use from that to enhance user experience?

[2018-06-28 09:45] andeElliott commented on #234
@ElieArron1  Would be interested in access to this data, we are working on anomaly detection in networks would love to discuss this dataset,  by email is ande.elliott AT gmail.com

[2018-07-01 11:02] Vishruit commented on #234
@ElieArron1
Could you please share the with me as well? I'm designing a model for spending habits. My email is vishruit@gmail.com. Please get in touch if you have any other concern. Thank you so much in advance!

[2018-07-02 07:43] NimaJoorabloo commented on #234
@ElieArron1
Hi, I'm PhD student of RMIT university and need your transaction data-set for research purpose. please share it with me s3624411@student.rmit.edu.au

[2018-07-03 06:59] Vakuma commented on #234
@ElieArron1
Hi, I'm Masters student at Indian Institute of science. I need the data for modelling spending patterns/fraud detection which is my Master's thesis topic. Please share the data with me. Email-vadirajk@iisc.ac.in

[2018-08-03 19:58] naremanalazem commented on #234
Hi @ElieArron1,
I am starting a research one detection of money laundering in banks .., could you share your dataset with me too?
My email is teacherit1992@gmail.con

Thanks.

[2018-08-08 12:47] ahmadnchami commented on #234
Hi @ElieArron1,
I am working on a location intelligence proof of concept for a large company .., could you share your dataset?
My email is ahmad.elchami@geo-markets.com

Thanks.

[2018-08-10 09:03] mmeasic commented on #234
Hi @ElieArron1,
I am working on a fraud detection using autoencoders. Could you share you dataset with me?
Email: lolo19@net.hr

[2018-08-14 22:12] eugenesimakin opened #371 ""Ancestry.com Forum Dataset over 10 years" is not available for download"
Hi!
This dataset is not available.

[2018-09-11 09:28] jdal26 commented on #234
Hi @ahmadnchami @ahmadnchami @Vakuma @NimaJoorabloo @Vishruit @andeElliott @smtl @hoasiru @d0naId @danntapl @ayushsingh244617 @gopalkalpande @saravanan-thirumuruganathan @naremanalazem @amirmoghadam93 @bernardworthy @RJDavie @aqibsaeed @beconstant @benvandyke @caesar0301

Hello everyone, my company sells such data, we have records of 95000 customer from a north american bank including card payment

[2018-09-24 10:02] gaur95rishabh commented on #234
@ElieArron1
Can you share the dataset?
My email id is rishab95gour@gmail.com

[2018-10-16 16:40] jamilaOmrane commented on #234
@ElieArron1
Can you please share the dataset with me? I'm trying to detect money laundering!
My email is jamilaomrane6@gmail.com

[2018-10-17 11:03] jerminal commented on #234
@ElieArron1
I'm creating a model to detect the anomaly. Can you please also share the dataset with me?
My email is jerminal@gmail.com

[2018-10-19 15:27] joldie opened #375 "DataWrangling link broken"
The following link gives a 404 and the domain name now redirects to a different site:
"DataWrangling: Some Datasets Available on the Web" (http://www.datawrangling.com/some-datasets-available-on-the-web)

[2018-10-25 09:56] Chikrix opened #377 "Twitter tweets and media of alleged foreign influence campaigns"
"In line with our principles of transparency and to improve public understanding of alleged foreign influence campaigns, Twitter is making publicly available archives of Tweets and media that we believe resulted from potentially state-backed information operations on our service"

[2018-10-31 08:30] ahmetofficial commented on #234
I am researching (for academic purpose)  understanding user transactional behaviours to build behavioural clusters to detect anomalies in user transaction history. My mail is: ahmet.kaymak@stu.fsm.edu.tr
Thank you.

[2018-10-31 15:53] thisiswhereitype opened #378 "Energy UK-DALE"
Link appears to be dead, lands on the splash page for Imperial University Computing page.

[2018-11-16 09:31] ColinEberhardt opened #380 "Streaming data sources?"
There are very few datasets / sources that provide a streaming API. Perhaps it would be worth adding a specific category for streaming and starting to grow a list?

[2018-12-04 08:05] Ethereal21 commented on #234
Hi @ElieArron1
I'm studying ML algorithms and would really appreciate if you share a set of real transaction data. socrat25@mail.ru
Thanks a lot!

[2018-12-06 16:39] #243 closed

[2018-12-06 16:39] grrttedwards commented on #243
Closing old issue as the site is alive.

[2018-12-19 12:00] #262 closed

[2018-12-19 20:05] KOLANICH commented on #262
also IPFS

[2019-01-09 06:32] liewmingzuo commented on #234
Hi @ElieArron1

i'm trying to run some analysis on ML algorithms and understanding. Can you share the set of decrypted dataset?
liewmingzuo@hotmail.com

Thanks!

[2019-01-18 10:58] ddofer commented on #234
FYI: You can download the data from here:
[https://data.world/lpetrocelli/czech-financial-dataset-real-anonymized-transactions](https://data.world/lpetrocelli/czech-financial-dataset-real-anonymized-transactions)

[2019-01-21 08:22] yuvalnow commented on #234
Hi, for those who are interested, we have data of about 110k customers of a Canadian bank (150M observations) :

- Every transaction made by the customer: credit card, debit card, checks, wire transfers…
- Financial products
- Loans
- Customer data (age, income, credit score, ...)

This data is on sale only, feel free to ask me.

[2019-01-21 08:36] Ethereal21 commented on #234
@yuvalnow, could you please contact me socrat25@mail.ru and provide mode details?

[2019-01-21 09:21] ddofer commented on #234
Hi, @yuvalnow <https://github.com/yuvalnow>, could you please send me the
data?
Thanks!

On Mon, Jan 21, 2019 at 10:23 AM yuvalnow <notifications@github.com> wrote:

--
Dan Ofer

Data Czar
Data Scientist

Cell: +972-524-600688 <%2B972-52-5799899>
[image: Image result for sparkbeyond]

--
This e-mail and any attachments are confidential, may contain legal,
professional or other privileged informati

[2019-01-21 12:08] yuvalnow commented on #234
Hi Dan, I can't sell you the data since it's on sale.

Please make me an offer, and I'll provide you samples.

Best,

Yuval

Le lun. 21 janv. 2019 à 10:22, Dan Ofer <notifications@github.com> a écrit :

[2019-01-21 12:19] ddofer commented on #234
Ahh, I've no interest in purchasing data, I thought it was free/public.
NVM then, thanks

On Mon, Jan 21, 2019, 2:09 PM yuvalnow <notifications@github.com wrote:

--
This e-mail and any attachments are confidential, may contain legal,
professional or other privileged information, and are intended solely for
the addressee. If you are not the intended recipient, do not use the
information in this e-

[2019-03-11 20:01] HalperinOrganix commented on #234
@yuvalnow are you still selling the data?  How recent is it?

[2019-05-09 01:14] YuanXinLing opened #387 "mark"
just mark， pls ignore it. Ths

[2019-05-10 08:22] jonathanalfred commented on #234
Hello, we are a startup who provides APIs that allow credit institutions, mortgage brokers and leasing companies to automate the solvency and risk analysis of (potential) clients.

We collect a huge amount of bank account anonymized data from EU and North American customers: credit card transactions, loans, savings, balance etc.

We are actively looking for new relevant uses of this data and will

[2019-05-10 11:53] harmydiano commented on #234
@jonathanalfred ,is the data available?

[2019-05-10 12:40] jonathanalfred commented on #234
@harmydiano Sure it is.

[2019-05-10 18:01] tomhca commented on #234
I would be interested

[2019-05-12 11:10] jonathanalfred commented on #234
@tomhca Ok, so can you propose an original usage of it ?

[2019-05-12 17:32] aqibsaeed commented on #234
Hi @jonathanalfred

I am interested. Could you please share email address where we can have a discussion?

[2019-05-13 05:49] IkanoYope commented on #234
Hi @jonathanalfred

I also very interested to apply numerical analysis modeling, using shooting methods or similar; I guess it goes well with what you are aiming. Could you please share email address with me as well?

[2019-05-13 06:30] IkanoYope commented on #234
Hi again @jonathanalfred

You can contact me via yo.lambda.py@gmail.com

[2019-05-13 08:02] jonathanalfred commented on #234
@aqibsaeed @IkanoYope

alfred11jonathan@gmail.com

[2019-05-24 09:16] aswinsanakan opened #388 "Softwares > ghtorrent.org link is changed"
Current link provided under Softwares > ghtorrent.org leads to a 404 page. After a quick browse I've found that their official site has links to different datasets.
New link :-  http://ghtorrent.org/downloads.html

[2019-05-25 02:57] caesar0301 commented on #388
Thanks! 👍
Would you please make a PR to https://github.com/awesomedata/apd-core?
This is the main repo to host the backend data.

[2019-06-15 12:42] sunn-e opened #389 "No Fashion Dataset?"
I was looking for some open fashion dataset. There's no distinct category for fashion. I know about DeepFashion 1,2 datasets but they have restricted access. I would love to have a fashion category here. Thanks.

[2019-06-15 12:54] AaronDinesh commented on #389
What about the MNIST Fashion dataset?

[2019-06-15 12:55] AaronDinesh commented on #389
Only thing is that it is in Black and White

[2019-06-16 15:12] sunn-e commented on #389
It is over used. And I have it already, I'm talking about having some alternate datasets. Like deep fashion 1/2, MODNET, etc.

[2019-06-17 12:19] leomaurodesenv opened #390 "New list to Complementary Collections"
Add a new list to _Complementary Collections_: [Awesome Game Datasets](https://github.com/leomaurodesenv/game-datasets).

-   title: Awesome Game Datasets
-   link: https://github.com/leomaurodesenv/game-datasets
-   description: Materials and datasets for Artificial Intelligence in games.

[2019-06-23 12:29] bharatik commented on #234
I am implemeting AI into Financial accounting systen to detect fraud transactions. can you share the dataset. email:bharatik99@hotmail.com

[2019-06-23 15:20] yonidahan commented on #234
Hi, email me : alfred11jonathan@gmail.com. Thanks.

Le dim. 23 juin 2019 à 14:31, bharatik <notifications@github.com> a écrit :

--
Jonathan DAHAN
Tel.: 06 34 69 07 32

[2019-07-08 10:33] ahmadrezash opened #391 "Persian News Dataset"
Hi
I have a Persian news dataset. I crawl it myself from one of the biggest news agencies.
How can I send that to you to publish that in this repo?

[2019-08-08 15:23] kolnol commented on #234
Hi @jonathanalfred,
I am doing some research on user clustering using DNNs. Could you please share the dataset with me?
odnoshivkin@me.com

[2019-08-12 08:07] jonathanalfred commented on #234
Hello Mykola,

Thank you for reaching out.

Since it's holiday time in France, I propose you to schedule a call in
September, do you have availabilities on the first week ?

Best,

*Jonathan DAHAN*

Président

jonathan@fintel.fr | www.fintel.fr

CIC Place de l'Innovation - 8, allée Léon Gambetta 13001 Marseille
Tel. + 33 (0)4 91 11 88 00

Le jeu. 8 août 2019 à 17:26, Mykola Odnoshyvkin <notificati

[2019-08-20 10:27] masoud112229 commented on #234
@ElieArron1
I am conducting research about graph-based semi-supervised learning for financial crime. Would you please share your dataset with me ( masoud.aghayan64@gmail.com ).
Thanks

[2019-09-09 04:55] naremanalazem commented on #234
Hello, Can you send to me paper make evalution about this data set??
Thank you

On Tue, Aug 20, 2019, 1:29 PM masoud112229 <notifications@github.com> wrote:

[2019-09-10 08:21] marcinnetman commented on #234
Hi @jonathanalfred,
I'm working on the AI models that will try to predict customers future free cash flow. Could you please share the dataset with me? (marcinnetman@gmail.com)

Thx in advance

[2019-09-19 19:31] naftalima opened #392 "Animals with attributes is currently suspended, replaced for Animals with Attributes 2"
The following suspended link is found in the [ImageProcessing](https://github.com/awesomedata/awesome-public-datasets#imageprocessing) section

The current link for Animals with attributes has moved from[Animals with Attributes]( https://cvml.ist.ac.at/AwA/) to [ Animals with Attributes 2](https://cvml.ist.ac.at/AwA2/) because of copyright restrictions

[2019-10-26 23:17] miracleyoo opened #394 "Maybe you can add MIT-Adobe FiveK Dataset to list"
MIT-Adobe FiveK Dataset is definitely an awesome dataset that contains 5000 DNG images and each image is retouched by 5 professional photographers. I think it is quite helpful and unique. Maybe you could consider adding it to this list.

[2019-11-08 11:08] fabiohfab commented on #234
Hey @jonathanalfred .

Can you send me the dataset, please. My email is fabiomchenriques@gmail.com

Fábio Henriques

[2019-11-08 11:17] jonathanalfred commented on #234
Hello, our datasets are on sale only.
Feel free to ask us if you need more information.

*Jonathan DAHAN*

Président

jonathan@fintel.fr | www.fintel.fr

CIC Place de l'Innovation - 8, allée Léon Gambetta 13001 Marseille
Tel. + 33 (0)4 91 11 88 00

Le ven. 8 nov. 2019 à 12:10, Fábio Henriques <notifications@github.com> a
écrit :

[2019-11-18 00:40] newbygit commented on #234
I downloaded the dataset but it's all asc files. Does any know what to do next? Does someone actually have the dataset and can send it to me? zxgitzx@hotmail.com thanks!

[2019-12-02 06:38] mapmeld opened #396 "Mix of political, sports data from FiveThirtyEight"
They publish links to shared datasets here: https://data.fivethirtyeight.com/
On GitHub: https://github.com/fivethirtyeight/data

[2019-12-16 03:30] #371 closed

[2020-01-16 07:04] Arunoda1995 opened #397 "Open Banking Customer Transactions"
I am wondering is there any public UK Open Banking Transaction Datasets?

[2020-01-24 13:11] tandriamil opened #398 "Ancestry.com Forum Dataset not available anymore"
Hello,

The dataset named `Ancestry.com Forum Dataset over 10 years` of the group `SocialNetworks` is not anymore available. There is a red message saying this (see below) at the [associated web page](http://www.cs.cmu.edu/~jelsas/data/ancestry.com).

This is related to the Issue #371 which is closed whereas the dataset is not anymore available but is still listed in the repository.

Have a nice d

[2020-02-25 10:18] ausilianapoli opened #399 "GDXray not available anymore"
GDXray: X-ray images for X-ray testing and Computer Vision is not available anymore. The link of its zip get "Page not found":
https://domingomery.ing.puc.cl/images/GDXray/Baggages.zip
https://domingomery.ing.puc.cl/images/GDXray/Castings.zip
https://domingomery.ing.puc.cl/images/GDXray/Welds.zip
https://domingomery.ing.puc.cl/images/GDXray/Nature.zip
https://domingomery.ing.puc.cl/images/GDXray/S

[2020-02-27 22:01] renata2216 opened #400 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:22] renata7738 opened #401 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-03-10 08:09] shenoy-beep commented on #234
Am working with respect to the fraud detection and it would of great help if you circulate the data to nithinshenoy71@gmail.com

[2020-03-28 22:11] getcontrol commented on #234
Please share your dataset for a financial app I am as well creating info@getacquainted.io

[2020-03-30 10:11] jonathanalfred commented on #234
Hello,

Thanks for your message.

However, the datasets are on sale only : 5000k€

If you are interested, we can provide additional information.

Best regards

Le sam. 28 mars 2020 à 23:11, getcontrol <notifications@github.com> a
écrit :

[2020-05-06 09:09] woshichenxinghua commented on #238
https://github.com/woshichenxinghua

[2020-05-11 07:56] prtk1306 commented on #351
https://www.kaggle.com/c/titanic/data

[2020-05-25 01:51] tfmorris commented on #399
You don't say where you got those links, but the current links on the main page (https://domingomery.ing.puc.cl/material/gdxray/) appear to be valid e.g. http://dmery.sitios.ing.uc.cl/images/GDXray/Nature.zip

[2020-05-25 01:51] #399 closed

[2020-06-08 15:37] #398 closed

[2020-11-08 03:46] nkjaipuria opened #413 "Indian Govt Data Link Outdated"
The link to the Government Data for India is outdated.

_data.gov.in_ doesn't direct anywhere.

The new link is: https://www.nic.in/projects/open-government-data-ogd-platform-india/

Kindly update it.

[2020-11-08 08:16] spekulatius commented on #413
Hey @nkjaipuria

opened a PR to help out.

Cheers,
Peter

[2020-11-27 12:44] thefilmy opened #415 "Redirection Issue OR Seo plugin problem"
Hi, I just ran a test
One example in my website, if I click any page: [http://thefilmyseries.com/](http://thefilmyseries.com/) it redirects to the exact same url. Does this have to do with anything? I don’t have any SEO plugin installed could this be on the server-side? I am on OpenLitespeed server.

X-Litespeed-Tag
f49_HTTP.200,f49_HTTP.301,f49_page,f49_URL.fd286359ecf57fb7d6869162be44bc69,f49_Po

[2020-11-27 12:53] AAWWAIS31 commented on #415
I am also facing the same issue on one of my url

[2020-12-12 10:50] gaurivn opened #416 "Geo-social Network Dataset"
Add Gowalla dataset, Brightkite dataset

[2021-01-08 04:05] gaganmastana13 opened #419 "Bkg universal"

[2021-01-08 04:18] #419 closed

[2021-02-03 05:49] sumanA92 commented on #234
@jonathanalfred, I am working for a recommendation system based on user's bank transactions and geolocation. Could you please share dataset to sumanreddi.67@gmail.com

[2021-05-21 21:56] yasir-star commented on #416
why  change the programs

[2021-05-23 07:48] Shahin-rmz commented on #391
send a pull request!

[2021-05-23 07:51] Shahin-rmz opened #422 "searching for some Chinese data any ideas?"
I am desperately searching the costs of transportation in China.
Any idea how can I find them?
Thanks

[2021-05-26 21:00] Yugen42 opened #423 "Landsat 8 dataset is deprecated"
https://registry.opendata.aws/landsat-8/
"Note this dataset is deprecated in favor of the USGS cloud access mechanism. This bucket will be deleted on July 1, 2021."

The successor is openly accessible, but can only be downloaded from a "requestor pays bucket".

I think this needs to be added at that data source and when the time comes, the link needs to be removed or changed to some backup.

[2021-05-29 04:37] ZenoZoldyck commented on #351
Thank you. It was very helpful.

[2021-06-15 04:23] anbuharry opened #425 "multi view video Dataset"
Hi

can you please upload a multi-view surveillance video dataset ...

[2021-06-15 10:03] #425 closed

[2021-06-30 05:26] SajjadParizan commented on #351
thank you so much
it was very **helpful**

[2021-10-09 10:02] PawanKatwe commented on #351
Thanks

[2021-11-23 14:14] FurkanGozukara opened #426 "Can you add these 2 datasets of mine to the list"
https://github.com/FurkanGozukara/Record-Linkage

https://github.com/FurkanGozukara/Sentiment-Analysis

[2021-12-01 10:49] clissa opened #427 "README not updated after merge into apd-core"
A few days ago I have merged the dataset **Fluorescent Neuronal Cells** into apd-core under the _MachineLearning_ category ( [pull request #254](https://github.com/awesomedata/apd-core/pull/254) ), however there seem to be no updates in the README file of awesome-public-datasets.
Is this supposed to happen? in which case, should I do anything else to see my entry linked in the list?

Thanks in adv

[2021-12-22 03:01] PabloJRW opened #428 "Awesome Data"
Public datasets

[2022-03-24 16:35] stratos1st commented on #238
The link is broken again.

[2022-03-24 16:37] stratos1st opened #431 "Alabama Real-Time Coastal Observing System broken link"
EarthScience / Alabama Real-Time Coastal Observing System
This dataset's link is broken

[2022-04-12 05:19] fe-nix04 opened #432 "Dataset Varios"

[2022-05-05 18:32] naren-srini opened #434 "UC Riverside Time Series Dataset Links Outdated - Archived moved to a larger archive"

[2022-05-06 08:41] surajkrayon commented on #234
Hi Jonathan,

I am working for a Data Science startup company and we are doing some research on building a recommender system, It would be very helpful for me to take a look at the kind of data you have got. Can you please send us a sample of the datasets?

Let me know if you need any other info.

[2022-06-12 03:26] SamMarrello opened #437 "Ukrainian Energy centre datasets: appears to have had domain lapse"
When I clicked on the link, the site seems to have been replaced by an Indonesian gambling website. Not sure where their new site is: I'm sure they have bigger problems atm

[2022-07-31 05:05] Programmer-RD-AI opened #441 "MIT Cancer Genomics Data Proxy Error"
Hi,
[MIT Cancer Genomics Data](http://www.broadinstitute.org/cgi-bin/cancer/datasets.cgi)
gives a proxy error

[2022-09-07 18:06] schmarn2410 opened #442 "Open Data Source"

[2022-09-15 23:11] TelAvivTamara opened #443 "Data Studio not showing data for Top Internship Industries and Top FAQs VS YAG"
![image](https://user-images.githubusercontent.com/110555421/190524241-305e2d2d-6fda-4f98-908a-f33a8692476f.png)

[2022-10-11 06:21] #388 closed

[2022-10-25 08:58] jorguzb commented on #351
Thank for your help

[2022-11-01 00:38] HadassahO commented on #351
Thanks so much

[2022-11-08 10:30] Chris-Bee opened #445 "New INSANE multi-sensor cross-domain UAV data set"
Hello,

the Control of Networked Systems group at the University of Klagenfurt published the INSANE data set (INSANE: Cross-Domain UAV Data Sets with Increased Number of Sensors for developing Advanced and Novel Estimators). The data set focuses on UAV localization and provides multi-sensor data (including vision) as well as additional data for vehicle integrity analysis. Depending on the context,

[2022-11-08 15:18] parameshwarareddy1 opened #446 "Data"

[2022-11-09 10:56] christbryan opened #447 "Dataset for an important project"
Hello  team,

 I am searching for a dataset but not finding it and i would like if you could help please.

I am an IT student and i am working on my data science skills, I am working on a project concerning enterprise mission and for me to fulfill this project I need to have a dataset of an enterprise lambda concerning the different missions that the employees did. I wish that the dataset could ha